@(recipe: Recipe)

<!DOCTYPE html>

<html>
<head>
    <title>@recipe.name</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
    <h1>@recipe.name</h1>

    @helper.form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {
        <input type="file" name="image" />
        <input type="hidden" />
        <input type="submit" />
    }

    </body>
</html>
